// footer
@import "colors";
    footer {
        width: 100%;
        margin-top: 60px;
        text-align: center;
        padding: 5px 0;
        background-color: $blue;
        color: $black;
        text-wrap: nowrap;
    }

.footer p,
.footer i,
.footer a{
    margin: 0;
}


footer> a{
    text-decoration: none;
    color:rgb(238, 238, 238);

  
}

a:hover{
    font-weight:bold;
}

.logo {
    margin-right: 5px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 18%, rgba(255,0,0,1) 54%, rgba(255,248,0,1) 81%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

